{%extends 'base.html'%}
{%block title%}Register{%endblock%}
{%block content%}
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mx-auto p-3 border border-3 rounded-3">
    <h1 class="text-center">Register</h1>
    <form method="post">
      <div class="mb-3 px-3">
        <label for="username" class="form-label">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" name="username" required>
      </div>
      <div class="mb-3 px-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <div class="mb-3 px-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="confirm_password" required>
      </div>
      <div class="mt-4 px-3">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
    <hr>
    <div class="mt-2 mb-3 px-3">
      <a class="btn btn-success" href="{{url_for('auth.login')}}">Back to Log In</a>
    </div>
  </div>
</div>

{%endblock%}
